@font-face {
    font-family: "debug";
    src: url(./DEBUG\ FREE\ TRIAL.ttf);
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "debug";
    color: #b6bbc4;
  }
  html,
  body {
    height: 100%;
    width: 100%;
  }
  .screen {
    height: 100%;
    width: 100%;
    background-color: #161a30;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .screen h1 {
    font-size: 10vw;
    font-weight: 100;
  }
  .screen button {
    padding: 2vh 3vw;
    font-size: 2vw;
    color: #31304d;
    border: 0.5px solid #b6bbc4;
    cursor: pointer;
  }
  .screen button:active {
    scale: 0.9;
    transition: all ease in ease-out 0.3s;
  }
  .screen button:hover {
    color: #b6bbc4;
    background-color: #31304d;
    border: none;
  }
  .screen h2 {
    font-size: 6vw;
    font-weight: 100;
    text-align: center;
    margin-bottom: 5vh;
  }
  .elem-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .elem {
    background-color: transparent;
    border: 1px solid #b6bbc4;
    padding: 15px;
    text-align: center;
  }
  .elem img {
    height: 19vh;
  }
  .elem h3 {
    font-size: 2vw;
    color: #f0ece5;
  }
  .elem:hover {
    background-color: #b6bbc4;
    cursor: grab;
    border: 2px solid #f0ece5;
    border: inset;
    transition: all linear ease-in-out 0.5s;
  }
  .elem:hover h3 {
    color: #161a30;
  }
  .elem:active {
    scale: 0.9;
    cursor: grabbing;
  }
  .time-score {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    padding: 3vh 3vw;
    border-bottom: 2px solid #f0ece5;
  }
  .time-score h4 {
    font-size: 3vw;
    margin-bottom: 2vh;
  }
  .playground {
    height: 95%;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  .playground img {
    position: absolute;
    height: 19vh;
  }
  .playground div {
    position: relative;
    z-index: 99;
    height: 30vh;
    width: 60vw;
    background-color: #f0ece5a1;
    display: none;
    left: 20%;
    top: 20%;
    transition: all ease ease-in 1s;
    text-align: center;
    font-size: 5vw;
    color: #161a30;
    padding: 9vh 5vw;
  }