*{
    margin: 0;
    padding: o;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#box{
    height: 100px;
    width: 100px;
    background-color: rgb(219, 114, 130);
    position: absolute;

    animation-name: anime;
    animation-duration: 3s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes anime{
            from{

                left: 0;
            }
            to{
                left: 100%;
            }
    
}