*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
html,body{
    height: 100%;
    width: 100;
}

#box1{
    height: 100px;
    width: 100px;
    background-color: salmon;
}
#box2{
    height: 100px;
    width: 100px;
    background-color: rgb(111, 14, 202);
}
#box3{
    height: 100px;
    width: 100px;
    background-color: dodgerblue;
}