*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: aliceblue;
}
html,body{
    height: 100%;
    width: 100%;
}
#full{
    background-color: black;
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    padding-top: 50px;

}
#first{
    margin: 0px 20px;
}

#second{
    display: flex;
    gap: 30px;
 height: 50%;
 margin-left: 800px;
}

#mid{
    font-size: 50px;
    padding-left: 30%;
    
}
#mid12{
    padding-left: 50px;
    color: rgb(43, 24, 216);
}

#mid2{
    padding-left: 30%;
}